@import './../../style/index.css';

#postguard-txt {
    margin-top: 4px;
    font-weight: 700;
    font-size: 14px;
    color: #004c92;
}

#sender {
    font-weight: 18px;
    color: #338265;
}

#irma-logo {
    width: 48px;
    height: 48px;
}

#logo {
    width: 40px;
}

#qr-container {
    width: 300px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto auto auto 141px;
}

#irma-app h3 {
    margin: 0;
    padding: 0;
}

.irma {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

#download-irma {
    margin-top: 12px;
}

#download-irma img {
    height: 30px;
    margin-top: 12px;
}
